<div class="container">
  <mat-card class="card">
    <mat-card-header class="card-header">
      <mat-card-title>{{item.name}}</mat-card-title>
      <mat-card-subtitle>{{item.category}}</mat-card-subtitle>
    </mat-card-header>
  
    <img  class="mx-auto d-block text-center"  src="{{img}}" alt="image">
  <mat-card-content class="card-content">
      <p>{{description}}</p>
      <p>Anzahl: {{item.quantity}}</p>
      <p>Ablaufdatum: {{item.expiryDate | date}}</p>
      <mat-chip-listbox>
        <mat-chip-option>{{chips[0]}}</mat-chip-option>
        <mat-chip-option>{{chips[1]}}</mat-chip-option>
        <mat-chip-option color="accent" selected>{{chips[2]}}</mat-chip-option>
        <mat-chip-option color="warn">{{chips[3]}}</mat-chip-option>
      </mat-chip-listbox>
    </mat-card-content>
    <mat-card-footer class="card-footer">
     
      <mat-card-actions>

        <mat-accordion class="example-headers-align" multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
               Anzahl
              </mat-panel-title>
              <mat-panel-description>
                Gebe die Anzahl ein
                <mat-icon>looks_one</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-form-field appearance="fill" (keydown)="updateFridgeItemDetailsWithEnter($event)" >
              <mat-label>Anzahl</mat-label>
              <input matInput [(ngModel)]="quantityValue" type="number" min="1" value="{{item.quantity}}">
            </mat-form-field>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
               Ablaufdatum
              </mat-panel-title>
              <mat-panel-description>
                Gebe das Ablaufdatum ein
                <mat-icon>date_range</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-form-field appearance="fill" (keydown)="updateFridgeItemDetailsWithEnter($event)">
              <mat-label>Ablaufdatum</mat-label>
              <input matInput [(ngModel)]="dateValue" [matDatepicker]="picker" (focus)="picker.open()" readonly>
            </mat-form-field>
            <mat-datepicker #picker></mat-datepicker>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
               Produktdetails
              </mat-panel-title>
              <mat-panel-description>
                Gebe die Produktdetails ein
                <mat-icon>view_list</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-form-field appearance="fill" (keydown)="updateFridgeItemDetailsWithEnter($event)">
              <mat-label>Produktname</mat-label>
              <input matInput [(ngModel)]="nameValue" value="{{item.name}}">
            </mat-form-field>
            <mat-form-field appearance="fill" (keydown)="updateFridgeItemDetailsWithEnter($event)">
              <mat-label>Notizen</mat-label>
              <textarea matInput [(ngModel)]="notesValue" value="{{item.notes}}"></textarea>
            </mat-form-field>
            <mat-form-field appearance="fill" floatLabel="always" (keydown)="updateFridgeItemDetailsWithEnter($event)">
              <mat-label>Betrag</mat-label>
              <input matInput [(ngModel)]="amountValue" type="number" class="example-right-align" placeholder="{{item.amount}}" >
              <span matTextPrefix>€&nbsp;</span>
              
            </mat-form-field>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
              Nährwertangabe
              </mat-panel-title>
              <mat-panel-description>
                Gebe die Nährwerte ein
                <mat-icon>shopping_basket</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-form-field appearance="fill" (keydown)="updateFridgeItemDetailsWithEnter($event)">
              <mat-label>Kalorien</mat-label>
              <input matInput [(ngModel)]="kcalValue" type="number" min="1" value="{{item.kcal}}">
              <span matTextSuffix>kcal</span>
            </mat-form-field>
            <mat-form-field appearance="fill" (keydown)="updateFridgeItemDetailsWithEnter($event)">
              <mat-label>Zucker</mat-label>
              <input matInput [(ngModel)]="sugarValue" type="number" min="1" value="{{item.sugar}}">
              <span matTextSuffix>g</span>
            </mat-form-field>
            <mat-form-field appearance="fill" (keydown)="updateFridgeItemDetailsWithEnter($event)">
              <mat-label>Fett</mat-label>
              <input matInput [(ngModel)]="fatValue" type="number" min="1" value="{{item.fat}}">
              <span matTextSuffix>g</span>
            </mat-form-field>
            <mat-form-field appearance="fill" (keydown)="updateFridgeItemDetailsWithEnter($event)">
              <mat-label>Eiweis</mat-label>
              <input matInput [(ngModel)]="proteinValue" type="number" min="1" value="{{item.protein}}">
              <span matTextSuffix>g</span>
            </mat-form-field>
            <mat-form-field appearance="fill" (keydown)="updateFridgeItemDetailsWithEnter($event)">
              <mat-label>Kohlenhydrate</mat-label>
              <input matInput [(ngModel)]="carbsValue" type="number" min="1" value="{{item.carbs}}">
              <span matTextSuffix>g</span>
            </mat-form-field>
          </mat-expansion-panel>
        </mat-accordion>



      </mat-card-actions>
    </mat-card-footer>
  </mat-card>
</div>
 
 
