
<div class="imageContainer">
    <img class="banner" src="/assets/images/2.jpg" alt="image">
    <div class="centeredText">
      "Die Software für deinen Kühlschrank"
    </div>
</div>

<div class="overview">
<mat-grid-list cols="2" rowHeight="200px" >
   
    <mat-grid-tile [colspan]=1 [rowspan]=3>
        <div class="content">
            <h1>Deine eigene Software</h1>
            <p>Die Software vereinfacht die Verwaltung deiner Kühlschrankartikel. Artikel können hinzugefügt,
               bearbeitet oder gelöscht werden. Eine Einkaufsliste wird automatisch erzeugt, sobald die Artikel ablaufen oder 
               ihre Menge zu gering wird.
            </p>
        </div>
    </mat-grid-tile>





    <mat-grid-tile [colspan]=1 [rowspan]=1>
        <div class="content">
             <h1>Artikelliste</h1>
             <p>Hier kannst du deine Kühlschrankartikel sehen</p> 
        <button mat-fab extended class="linkButton" routerLink="/fridge/list">
           <mat-icon>fastfood</mat-icon>
          Artikel 
         </button>
            </div>
</mat-grid-tile>



<mat-grid-tile [colspan]=1 [rowspan]=1>
    <div class="content">
    <h1>Einkaufsliste</h1>
    <p>Hier kannst du deine Einkaufsliste sehen</p>
    <button mat-fab extended class="linkButton" style="text-align: center;" routerLink="/fridge/shoppinglist">
       <mat-icon>shopping_cart</mat-icon>
       Einkaufsliste
     </button>
    </div>
</mat-grid-tile>



<mat-grid-tile [colspan]=1 [rowspan]=1>
    <div class="content">  
    <h1>Statistiken</h1>
    <p>Hier kannst du Statistiken über deine Artikel sehen</p>
    <button mat-fab extended class="linkButton" style="text-align: center;" routerLink="/fridge/stats">
       <mat-icon>pie_chart</mat-icon>
       Statistiken
     </button> 
     </div>
</mat-grid-tile>

  </mat-grid-list>
</div>



<div class="app">
    
    <h1>Offizielle WebApp</h1>
    <h2>Jetzt für dein Smartphone, Tablet und Desktop</h2>
       <p>Du kannst die progressive WebApp downloaden, um deine Kühlschrankverwaltung auf dem Smartphone oder Tablet zu benutzen</p>
      

      <div class="stepper">
      <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Download</ng-template>
                <h1>Downloade die WebApp</h1>
                <img src="/assets/images/1.PNG" alt="image"><br><br>
                <p>Klicke auf das Icon in der rotumrandeten Box und downloade die WebApp auf deinen Desktop!</p>
                
            <div>
            
              <button mat-button matStepperNext>Weiter</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Klick & Go</ng-template>
            <h1>Starte die WebApp</h1>
            <img class="webApp" src="/assets/images/pwaApp.PNG" alt="image"><br><br>
            <p>Klicke auf das Icon auf deinem Desktop und öffne deine persönliche Kühlschrankverwaltungssoftware!</p>
            <div>
              <button mat-button matStepperPrevious>Zurück</button>
              <button mat-button matStepperNext>Weiter</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Herzlichen Glückwunsch</ng-template>
          <p>Du hast alle Schritte erfolgreich erledigt! Viel Spaß mit deiner WebApp!</p>
          <div>
            <button mat-button matStepperPrevious>Zurück</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-stepper>
   
   </div>
   
    </div>


  


 

