<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      mode="over">
    <mat-toolbar>Übersicht</mat-toolbar>
    <mat-nav-list>
      <a href="#" style="height: 0px"></a>
      <a mat-list-item href="fridge/list"><mat-icon class="navButton">fastfood</mat-icon>Liste</a>
      <a mat-list-item href="fridge/stats"><mat-icon class="navButton">pie_chart</mat-icon>Statistik</a>
      <a mat-list-item href="fridge/shoppinglist"><mat-icon class="navButton">shopping_cart</mat-icon>Shoppingliste</a>
      <a mat-list-item href="fridge/profile"><mat-icon class="navButton">person</mat-icon>Profil</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        class="menuButton"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span routerLink="fridge">Fridge Management</span>
    </mat-toolbar>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
    <app-fridge-footer></app-fridge-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
  